<h1>Hello <%= @name %>, lets play rock, paper, scissors!</h1>

<h2> Your turn to choose:</h2>

<form action="/ready" method="get">
  <input type="submit" value="Rock">
  <input type="submit" value="Paper">
  <input type="submit" value="Scissors">
</form?

